@media screen and (max-width: 991px){
      .header
      {
        display: none;
      }
      .container {
        width: 100%;
    }     
.big-container
{
    display: none;   
}

.skincare-text h3 {
    font-size: 20px;
}
.skincare-pro {
    order: 2;
}

.skincare-pro-img {
    order: 1;
}
.skincare-text h2 {
    font-size: 31px;
    line-height: 42px;
    padding-top: 7px;
    width: unset;
}
.main-skincare-pro {
    grid-template-columns: repeat(1, 1fr);
}
.skincare-text {
    padding: 28px 0;
}
.common-heading h2 {
    font-size: 22px;
}
.common-heading h4 {
    font-size: 18px;
    margin-top: 8px;
}
.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
}

.product-banner {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
    
.product-banner-box {
    margin: 0 10px;
}
/* .product-banner-box img {
    height: 350px;
} */
.product-banner-text h2 {
    font-size: 28px;
}
.tab {
    gap: unset;
}
.tab button {
    padding: 13px 16px;
    font-size: 21px;
}

.sale-product {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
.offer-grid {
    grid-template-columns: repeat(1, 1fr);
}
.offer-grid-img {
    margin: 0 10px 20px; 
}
.offer-grid-time {
    padding-left: 19px;
}
.off-grid-btm {
    padding: 3px 10px;
}
.offer-grid-time h2 {
    font-size: 31px;
    padding: 9px 0;
}
.offer-grid-time p {
    font-size: 16px;
    width: unset;
}

.time-container ul li {
    font-size: 14px;
    padding: 5px 9px;
    margin: 28px 0;
}
.offer-btm {
    padding: 10px 13px;
    font-size: 16px;
}
.video-section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;

}
.off-grid-flex h5 {
    font-size: 15px;
}
.video-text {
    margin-left: unset;
}

.bg-color {
    padding: 20px;
}
.video-text h3 {
    font-size: 15px;
    margin-bottom: 8px;
}
.bg-color h2 {
    font-size: 25px;
    width: unset;
}
.video-text P {
    font-size: 15px;
    width: unset;
}

.why-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
.why-section-box p {
    font-size: 13px;
}
.why-section-box h2 {
    font-size: 20px;
}
.why-section-box img {
    width: 70px;
}
.footer-div {
    grid-template-columns: repeat(1, 1fr);
    gap: 4%;
}
footer {
    padding-left: 25px;
    margin-top: 50px;
}
.footer-box h2 {
    width: unset;
    font-size: 33px;
}

.footer-box p {
    margin: 17px 30px 42px 0;
    font-size: 14px;
}
.copywrite {
    display: block;
    margin-top: 70px;
    padding-top: 20px;
}

.copywrite img {
    width: 150px;
    margin-top: 15px;
}
.c-img {
    height: 15px;
    width: 185px !important;
}
.mb-50 {
    margin-bottom: 20px;
}

.mt-50 {
    margin-top: 20px;
}

.btns {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 35px;
}
.sle-item img {
    width: 95%;
    height: 296px;
    object-fit: cover;
}
.btns a {
    padding: 10px 16px;
    font-size: 12px;
}
.social-media- {
    position: absolute;
    display: grid;
    grid-auto-rows: 25%;
    /* bottom: 5%; */
    left: unset;
    right: 0%;
    opacity: 1;
}
.youtube-link {
    font-size: 60px;
    padding: 15px 31px;
    height: 100px;
    width: 100px;
}
/*about us*/
.about-us-bg img {
    width: 100%;
    height: 230px;
}
.about-text {
    top: 50%;
    left: 6%;
}
.about-text h5 {
    font-size: 16px;
    margin-bottom: 7px;
}
.about-text h2 {
    font-size: 26px;
}
.aboutus-common-heading img {
    width: 70px;
}
.aboutus-common-heading h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    width: 92%;
}
.aboutus-common-heading p {
    font-size: 13px;
    width: 88%;
}
.mb-100 {
    margin-bottom: 50px;
}
.mt-100 {
    margin-top: 20px;
}
.aboutus-grid-text {
    padding: 10px 0;
    text-align: center;
}
.aboutus-grid-text h2 {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.aboutus-grid-text p {
    font-size: 13px;
    width: 85%;
    margin: auto;
}

.aboutus-grid-1 {
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    margin-bottom: 20px;
}
.aboutus-common-heading h3 {
    width: 80%;
    font-size: 15px;
    line-height: 37px;
}
.client-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-left: 20px;
}
.client-logo img {
    width: 100px;
}

.client-logo-box {
    margin-bottom: 25px;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
    gap: 20px;
}
.team-info {
    text-align: center;
}
.team-img {
    margin: 0 20px;
}
.team-info h2 {
    font-size: 20px;
}
.team-info h4 {
    font-size: 14px;
}
.team-grid img {
    width: 90%;
}
/*shop start*/
.main-grid {
    grid-template-columns: 100%;
    gap: unset;
}
.filter-btn-1 {
    margin-bottom: 50px;
}
/*shop end*/
/*Info start*/
.features-common-heading h2 {
    font-size: 22px;
    margin-bottom: 8px;
}
.features-common-heading p {
    font-size: 13px;
    width: 90%;
}
.info-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
}
.info-text {
    text-align: center;
}
.info-text h2 {
    font-size: 22px;
}
.info-text p {
    font-size: 13px;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.msg-hour {
    grid-template-columns: repeat(1, 1fr);
}
.info-grid-l {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
.info-g-text {
    text-align: center;
}

.font {
    font-size: 22px;
}
.contact h2 {
    font-size: 20px;
}
.contact p {
    font-size: 13px;
    margin-bottom: 5px;
    width: 90%;
    margin: 0 auto;
    
}
.contact a {
    font-size: 14px;
}

.contact h5 {
    font-size: 15px;
}

.msg-hour {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin: 35px 0 20px;
}
.social-icon {
    display: flex;
    gap: 20px;
    justify-content: center;
}
/*Info end*/
/*features start*/
.features-grid-1 {
    grid-template-columns: 100%;
    gap: unset;
    text-align: center;
}
.f-g-text {
    margin-left: unset;
    text-align: center;
}
.f-g-text h2 {
    font-size: 25px;
    width: unset;
}
.f-g-text p {
    font-size: 15px;
    margin: 5px 0;
    width: 81%;
    margin: 0 auto;
}
.res-center {
    width: fit-content;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}
.features-grid-2 {
    grid-template-columns: 100%;
    gap: unset;
}
.f-g-2-text {
    margin-left: unset;
    text-align: center;
}
.f-g-2-text h2 {
    font-size: 22px;
    width: 75%;
    margin: 0 auto;
    line-height: 33px;
    margin-top: 15px;
}
.f-g-image {
    order: 2;
}
.f-g-2-text p {
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 28px;
}
.banner-sec {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0 10px;
}
.banner-f1 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.banner-f1-text h2 {
    font-size: 23px;
}
.banner-f1-text a {
    font-size: 16px;
}
.banner-f1-text {
    left: 28%;
    bottom: 42px;
}
.banner-f2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0 10px;
}
.banner-f3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0 10px;
}
.explore h4 {
    font-size: 13px;
    margin: 10px 0 27px 0;
}
.explore h2 {
    font-size: 24px;
}
.explore {
    position: absolute;
    top: 22px;
    left: 25px;
}
.f-btm a {
    font-size: 13px;
}
.banner-f3-img img {
    height: 350px;
    object-fit: cover;
}
.f-shop h2 {
    font-size: 22px;
    margin-top: 6px;
}
.f-shop h4 {
    font-size: 13px;
    font-weight: 400;
    margin: 8px 0 13px 0;
}
.banner-f4 {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 35px;
    padding: 0 10px;
}
.banner-f4-text h2 {
    font-size: 22px;
}
.banner-f4-text a {
    font-size: 14px;
}
.banner-f5 {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0 10px;
}
.category-flex {
    align-items: center;
    padding: 0 10px;
}
.category-flex h2 {
    font-size: 22px;
}
.category-flex a {
    font-size: 11px;
}
.f5-text h4 {
    font-size: 13px;
}
.f5-text h2 {
    font-size: 22px;
    width: 71%;
}
.f5-text {
    top: 25px;
    left: 22px;
}
.f5-text p {
    font-size: 13px;
}
.banner-f6 {
    grid-template-columns: 100%;
    gap: 15px;
    padding: 0 10px;
}
.banner-f6-box img {
    width: 101%;
    height: 300px;
    object-fit: cover;
}
.f6-text h2 {
    font-size: 22px;
}
.f6-text a {
    font-size: 15px;
}
.banner-f7 {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 0 10px;
}
.f7-text h2 {
    font-size: 22px;
}
.f7-text h4 {
    font-size: 15px;
}

.f7-box img {
    height: 350px;
}


/*features end*/

/***navbar start***/
.mob-nav
{
    display: block;
}
nav{
    height: 3rem;
    width: 100%;
    background-color: #17587c;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
}

/*Styling logo*/
.logo{
    padding: 10px 20px;
    text-align: center;
}
.logo img {
    width: 2rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(268deg) brightness(104%) contrast(107%);
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #fff !important;
}
.nav-links li a:hover {
    color: #61DAFB;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}

/*Styling Buttons*/
.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    color: white;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/

   
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        /* position: fixed; */
        background: #17587c;
        height: 67vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }

/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


    }

@media (max-width: 768px) {
.product-details .product-section { grid-template-columns: 1fr;} 
.product-details .features {flex-direction: column;gap: 15px;} 
.row-4 { grid-template-columns: 100%;}
.common-sec {margin-bottom: 30px;}
.container { width: 90%; } 
.category-content { padding: 0 20px 20px;  word-break: break-all;}
.category-item { grid-template-columns: 100%; gap: 10px;  }
.category-content h2 {   margin: 0; }
.category-item-2 { grid-template-columns: 100%; gap: 10px;  }
.category-content.text-left {text-align: left;}
.about-image img {width: 100%;}
.newsletter-form input {width: 200px; }
.contact-flex {grid-template-columns: 100%; }
.contact-page .form-section {padding: 20px; }
.checkout-container {grid-template-columns: 100%; gap: 60px; }
.checkout-page {padding: unset; } 
.payment-radio-group {
    display: grid;
    gap: 18px; 
}
.discount-code-section { 
    display: grid; 
}
.checkout-form-section  {
    padding: 20px; 
}
form.signin-form-page {
    padding: unset;
}
.signin-form { 
    grid-template-columns: 100%; 
} 
.details-flex-2 
 { 
    grid-template-columns: repeat(1, 1fr);
}
.logout-box { 
    width: 100%; 
}
.contact-page .form-row { 
    grid-template-columns: 100%; 
}
.product-details .thumbnail img { 
    height: 75px; 
}
.contact-page .image-section {
    display: none;
}
.about-img-2 {
width: 80%;
    padding: 50px;
    display: grid;
    gap: 30px;
    margin: auto;
}
}